<h1> New Task </h1>
 <form method="Post" action="../tasks/new/create">
  <label for="title">Title</label><br>
  <input type="text" id="title" name="title"><br>
  <label for="details">Details</label><br>
  <input type="text" id="details" name="details">
  <input type="submit" value="Submit">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form> 

<a href="../tasks"> Back to List </a>